@import "default"
@import "nav"
@import "chosen.min.css"

#dashboards_index
  @import "dashboards/index"
#animes_index
  @import "animes/index"
#animes_show
  @import "animes/show"
#animes_arcs
  @import "animes/arcs"


.input input, select, textarea
  padding: 1px 1px
  font-size: 1rem
  line-height: 1.1
  color: #495057
  background: #fff
  background-clip: padding-box
  border: 1px solid #ced4da
  border-radius: 3px
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out